<<style>
.container{
  background-color: pink;
  margin-top: 100px;
}
</style>

<div class="container">

  <thead class="thead-dark"> </thead>
 
<div style="margin-top: 20px; font: san-serif; font-size: 20px;"> 
<h4>CUSTOMER DETAILS</h4>
<p>Name:{{this.name}}</p>
<p>Email:{{this.email}}
<p>Contact Number:{{this.number}}</p>
<p>Address:{{this.address}}</p>

<h4> ORDERS MADE </h4>
<p>{{this.id}}

</div>