<div class="container">
<table class="table">
  <thead class="thead-dark">
             <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Customer Details</th>

      </tr>
     {{#each result}}
          <tbody>
            <tr>
              <td>{{this.first_name}}</td>
              <td>{{this.middle_name}}</td>
              <td>{{this.last_name}}</td>
              <td>{{this.email}}</td>
              <td>
                <a href="/customers/{{this.id}}">More details&nbsp;&raquo;</a>
              </td>
            </tr>
          </tbody>
          {{/each}}
        </table>
      </div>