<style>
.container{
   background-color: lightpink;
  margin-top: 100px;
  margin: auto;
  color: darkgoldenrod;
}
</style>

<div class="container">
		<table class="table">
				  <thead class="thead-dark"> </thead>

  <thead class="thead-dark"> </thead>
 
<div style="font: san-serif; font-size: 20px;"> 
<h4 style="color: black;">CUSTOMER DETAILS</h4>


							<p>First Name: {{rows.0.first_name}}</p>
							<p>Middle Name: {{rows.0.middle_name}}</p>
							<p>Last Name: {{rows.0.last_name}}</p>
							<p>Email Address: {{rows.0.email}}</p>
							<p>State: {{rows.0.state}}</p>
							<p>City: {{rows.0.city}}</p>
							<p>Street: {{rows.0.street}}</p>
							<p>Zipcode: {{rows.0.zipcode}}</p>

</div>

		<table class="table">
			<h4 style="color: black;">ORDER DETAILS:</h4>
			  <thead class="thead-dark"> </thead>
						<tr>
							<th>Ordered Products</th>
							<th>Quantity</th>
							<th>Order Date</th>
						</tr>
					{{#each rows}}
					<tbody>
						<tr>
							<td>{{this.product_name}}</td>
							<td>{{this.quantity}}</td>
							<td>{{this.purchase_date}}</td>						
						</tr>
					</tbody>
					{{/each}}
				</table>
			</div>
</div>
</div>
</div>