<div class="container">
  <h2>Dashboard</h2>
  <div class="col-lg-10 col-md-5 col-sm-1">          
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>TOP 10 CUSTOMERS WITH THE MOST NO. OF ORDERS</th>
      </tr>
      <tr>
        <th>Customers</th>
        <th>No. of Orders</th>
      </tr>
    </thead>
    {{#each result}}
    <tbody>
      <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.number of order}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>

<div class="col-lg-10 col-md-5 col-sm-1">          
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>TOP 10 CUSTOMER WITH HIGHEST PAYMENT</th>
      </tr>
      <tr>
        <th>Customers</th>
        <th>Payment</th>
      </tr>
    </thead>
    {{#each result}}
    <tbody>
      <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.number of order}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>

<div class="col-lg-10 col-md-5 col-sm-1">        
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>TOP 10 MOST ORDERED PRODUCTS</th>
      </tr>
      <tr>
        <th>Product</th>
        <th>No. of Orders</th>
      </tr>
    </thead>
    {{#each result}}
    <tbody>
      <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.number of order}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>

<div class="col-lg-10 col-md-5 col-sm-1">           
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>TOP 3 MOST ORDERED BRANDS</th>
      </tr>
      <tr>
        <th>Brands</th>
        <th>Total</th>
      </tr>
    </thead>
    {{#each result}}
    <tbody>
      <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.number of order}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>

<div class="col-lg-10 col-md-5 col-sm-1">            
  <table class="table table-bordered">
    <thead>
      <tr>
      <th>TOTAL SALES</th>
      </tr>
      <tr>
        <th>Last 7 Days</th>
        <th>Last 30 Days</th>
      </tr>
    </thead>
    {{#each result}}
    <tbody>
      <tr>
        <td>{{this.first_name}}</td>
        <td>{{this.number of order}}</td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>
</div>
