<style>
.container{
  background-color: lightpink;
  margin-top:50px;
}
</style>

<div class="container">
<table class="table">
  <thead class="thead-dark">
     <tr>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Purchase Date</th>
            </tr>
          </thead>
          {{#each rows}}
          <tbody>
            <tr>
              <td>{{this.first_name}}</td>
              <td>{{this.middle_name}}</td>
              <td>{{this.last_name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.products_name}}</td>
              <td>{{this.quantity}}</td>
              <td>{{this.purchase_date}}</td>
            </tr>
          </tbody>
          {{/each}}
        </table>
      </div>
    </div>