<style>
    @import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');
	@import url('https://fonts.googleapis.com/css?family=Khand');

.card{
	background-color: #FFB6C1;
	height: 480px;
	margin-top:10px;
}
.text-box{
	background-color: #FFB6C1;
}
h5{
	font-style: bold;
	color: #A52A2A;
}
h5:hover{
	color: darkgoldenrod ;
}
a:hover{
	text-decoration: none;
}
</style>
	
<div class="jumbotron mt-0">
		<div class="row mx-auto">
			{{#each data}}
			<div class="col-lg-3 col-md-3 col-sm-2 mb-0">
				<div class="card center">
					<a href="/products/{{this.id}}"><br>
						<img class="card-img-top" src="{{this.image}}" style="height: 300px; width: 290px; color: darkgray;">
						<div class="text-box">
								<h5 class="card-title text-center my-3">{{this.brand}} <br> {{this.name}}</h5>
									<h5 class="card-title text-center">₱ {{this.price}}.00</h5>
									
						</div>
					</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>

<footer class="footer">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://my-profile-dadi.herokuapp.com"> Dadia & Dizon</a>
    </div>

  </footer>	
