<body>
<div class="container">
			<div class="col-lg-8 col-md-8 col-sm-8 mb-0 mx-auto">
				<form  action="{{product_id}}/forms" method="POST">
				<div class="card center">
					<img class="card-img-top" style="height: 400px; width: 400px;" src="{{product_image}}" alt="{{product_name}}">
					<div class="card-body">

						<h4 class="card-title">{{product_name}} </h4>
						<h4 class="card-title">{{product_brand}}</h4>
						<h6 class="card-title">{{product_description}} </h6>
						<h5 class="card-title">₱ {{product_price}}.00</h5>
						
					</div>
					
			</div>
			<button href="{{product_id}}/forms" style="float:left" class="btn btn-lg btn-design" type="submit" role="button">Order Now!</button>
		</form>
		<form action="/update/products" method="POST">
      <input type="hidden" name="product_id" value="{{product_id}}">
      <a href="/update/products/{{product_id}}"><button class="btn btn-lg btn-design  " style="float:right; margin-top: -5px; " role="button" type="submit" name="" value="UPDATE">UPDATE</button></a>
      </form> 
		
		</div>


	</div>
</body>