<style>
    @import url('https://fonts.googleapis.com/css?family=Homemade Apple');
	@import url('https://fonts.googleapis.com/css?family=Poppins');
	@import url('https://fonts.googleapis.com/css?family=Khand');

.card{
	background-color: #FFB6C1;
	height: 480px;
	margin-top:10px;
}
.text-box{
	background-color: #FFB6C1;
}
h5{
	font-style: bold;
	color: #A52A2A;
}
h5:hover{
	color: darkgoldenrod ;
}
a:hover{
	text-decoration: none;
}
</style>
	

<!--<div class="jumbotron mt-4">
		<div class="row mx-6">
		{{#each data}}

			<div class="col-lg-4 col-md-4 col-sm-12 mb-4 mx-auto">

				<div class="card center">
					<a href="/products/{{this.id}}"><br>
						<img class="card-img-top" src="{{this.image}}">
						<div class="text-box">

					<h3 class="card-title text-center">{{this.brands}}</h3><br> {{this.name}}</h5>
							<h5 class="card-title">₱ {{this.price}}.00</h5>
						<p class="card-text">
							<h7 class="card-title">{{this.products_category}}</h7>
						</p>
							<h7 class="card-title">{{this.description}}</h7>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>-->
<div class="jumbotron mt-0">
		<div class="row mx-auto">
			{{#each data}}
			<div class="col-lg-3 col-md-3 col-sm-3 mb-0">
				<div class="card center">
					<a href="/products/{{this.id}}"><br>
						<img class="card-img-top" src="{{this.image}}" style="height: 300px; width: 290px; color: darkgray;">
						<div class="text-box">
								<h5 class="card-title text-center my-3">{{this.brand}} <br> {{this.name}}</h5>
									<h5 class="card-title text-center">₱ {{this.price}}.00</h5>
									
						</div>
					</a>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</div>